openapi: 3.0.3
info:
  title: Recommendations API
  version: 1.0.0
  description: API specification for the Recommendations feature of the DETO platform.
servers:
  - url: https://cms.bidgely.com
    description: Production CMS
security:
  - bearerAuth: []
paths:
  /recommendation/v1/model/{pilotId}:
    get:
      summary: Retrieve recommendation model for a pilot
      description: Returns the recommendation model and default profile for the specified pilot.
      operationId: reco-external-apis_getRecoModel
      tags:
        - Recommendations
      parameters:
        - name: pilotId
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      defaultProfile:
                        type: array
                        items:
                          type: string
                      model:
                        type: array
                        items:
                          $ref: '#/components/schemas/RecoModelExternal'
                    required:
                      - defaultProfile
                      - model
                  updatedAt:
                    type: number
                required:
                  - data
                  - updatedAt
        '400':
          description: Bad request – missing or invalid parameters
        '401':
          description: Unauthorized — invalid or missing Bearer token
        '404':
          description: Resource not found
      x-policies:
        - api::recommendation.reco-model-policy
  /recommendation/v1/metadata/{pilotId}:
    get:
      summary: Retrieve recommendation metadata for a pilot
      description: Returns the recommendation metadata for the specified pilot.
      operationId: reco-external-apis_getRecoMetadata
      tags:
        - Recommendations
      parameters:
        - name: pilotId
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: locale
          in: query
          required: false
          schema:
            type: string
        - name: channel
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecoMetadataExternal'
                  updatedAt:
                    type: number
                required:
                  - data
                  - updatedAt
        '401':
          description: Unauthorized — invalid or missing Bearer token
        '404':
          description: Resource not found
      x-policies:
        - api::recommendation.reco-metadata-policy
  /recommendation/v2/metadata/{pilotId}:
    get:
      summary: Retrieve recommendation metadata v2 for a pilot
      description: Returns the recommendation metadata v2 for the specified pilot.
      operationId: reco-external-apis_getRecoMetadataV2
      tags:
        - Recommendations
      parameters:
        - name: pilotId
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: locale
          in: query
          required: false
          schema:
            type: string
        - name: channel
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecoMetadataExternalV2'
                  updatedAt:
                    type: number
                required:
                  - data
                  - updatedAt
        '401':
          description: Unauthorized — invalid or missing Bearer token
        '404':
          description: Resource not found
      x-policies:
        - api::recommendation.reco-metadata-policy
  /recommendation/v1/insight-definition/{pilotId}:
    get:
      summary: Retrieve insight definitions for a pilot
      description: Returns the insight definitions for the specified pilot.
      operationId: reco-external-apis_getInsightDefinition
      tags:
        - Recommendations
      parameters:
        - name: pilotId
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InsightDefinition'
                  updatedAt:
                    type: number
                required:
                  - data
                  - updatedAt
        '400':
          description: Bad request – missing or invalid parameters
        '401':
          description: Unauthorized — invalid or missing Bearer token
        '404':
          description: Resource not found
      x-policies:
        - api::recommendation.reco-model-policy
  /recommendation/v1/last-updated-ts/{pilotId}:
    get:
      summary: Retrieve last updated timestamp for a pilot
      description: Returns the last updated timestamp for the specified pilot.
      operationId: reco-external-apis_getLastUpdatedTS
      tags:
        - Recommendations
      parameters:
        - name: pilotId
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: number
                required:
                  - data
        '401':
          description: Unauthorized — invalid or missing Bearer token
        '404':
          description: Resource not found
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Recommendation:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        ctaButtonText:
          type: string
        ctaButtonLink:
          type: string
        icon:
          type: object
          properties:
            url:
              type: string
              format: uri
            alt:
              type: string
        shortenedImage:
          type: object
          properties:
            url:
              type: string
              format: uri
            alt:
              type: string
        fullImage:
          type: object
          properties:
            url:
              type: string
              format: uri
            alt:
              type: string
        detail:
          type: string
        elongatedImage:
          type: object
          properties:
            url:
              type: string
              format: uri
            alt:
              type: string
        utility:
          type: object
          description: Relation (oneToOne) to utility.utility
        recommendationId:
          type: string
        fuelType:
          type: string
          default: '[]'
        featuredContent:
          type: boolean
          default: 'false'
        program:
          type: boolean
          default: 'false'
        channelPaper:
          type: boolean
          default: 'true'
        channelEmail:
          type: boolean
          default: 'true'
        disabled:
          type: boolean
          default: 'false'
        defaultReco:
          type: boolean
          default: 'false'
        channelWeb:
          type: boolean
          default: 'true'
        videoLink:
          type: string
        score:
          type: object
        applianceProfileExclusion:
          type: object
        homeProfileExclusion:
          type: object
        ratePlanExclusion:
          type: object
        ppExclusion:
          type: object
        monthExclusion:
          type: object
        insightAssociation:
          type: object
        category:
          type: string
        verificationStatus:
          type: string
          enum:
            - TODO
            - READY_FOR_QA
            - QA_IN_PROGRESS
            - QA_FAILED
            - READY_TO_PUBLISH
          default: TODO
        editStatus:
          type: string
          enum:
            - DRAFT
            - MODIFIED
            - PUBLISHED
          default: DRAFT
        actionSavingsPotential:
          type: number
        frequency:
          type: string
          enum:
            - one_time
            - repeat
        herImage:
          type: object
          properties:
            url:
              type: string
              format: uri
            alt:
              type: string
        userType:
          type: string
        actionType:
          type: string
        objective:
          type: string
      required:
        - title
        - description
        - recommendationId
        - fuelType
        - featuredContent
        - program
        - channelPaper
        - channelEmail
        - channelWeb
        - category
    RecoModelExternal:
      type: object
      properties:
        recommendationId:
          type: string
        fuelType:
          type: array
          items:
            type: string
        category:
          type: string
        applianceTags:
          type: array
          items:
            type: integer
        disabled:
          type: boolean
        defaultReco:
          type: boolean
        relevanceScore:
          type: number
        exclusions:
          type: array
          items:
            type: string
      required:
        - recommendationId
        - fuelType
        - category
        - applianceTags
        - disabled
        - defaultReco
        - relevanceScore
        - exclusions
    RecoMetadataExternal:
      type: object
      properties:
        recommendationId:
          type: string
        fuelType:
          type: array
          items:
            type: string
        category:
          type: string
        applianceTags:
          type: array
          items:
            type: integer
        disabled:
          type: boolean
        defaultReco:
          type: boolean
        featuredContent:
          type: boolean
        program:
          type: boolean
        title:
          type: string
        description:
          type: string
        detail:
          type: string
        videoLink:
          type: string
        ctaButtonLink:
          type: string
        ctaButtonText:
          type: string
        icon:
          type: string
        fullImage:
          type: string
        shortenedImage:
          type: string
        elongatedImage:
          type: string
      required:
        - recommendationId
        - fuelType
        - category
        - applianceTags
        - disabled
        - defaultReco
        - featuredContent
        - program
        - title
        - description
        - detail
        - videoLink
        - ctaButtonLink
        - ctaButtonText
        - icon
        - fullImage
        - shortenedImage
        - elongatedImage
    RecoMetadataExternalV2:
      allOf:
        - $ref: '#/components/schemas/RecoMetadataExternal'
        - type: object
          properties:
            actionSavingsPotential:
              type: number
            frequency:
              type: string
            userType:
              type: string
            actionType:
              type: string
            objective:
              type: string
            herImage:
              type: string
          required:
            - actionSavingsPotential
            - frequency
            - userType
            - actionType
            - objective
            - herImage
    InsightDefinition:
      type: object
      properties:
        type:
          type: string
        applianceTag:
          type: integer
        fuelType:
          type: string
        recommendations:
          type: array
          items:
            type: string
        insightId:
          type: string
      required:
        - type
        - applianceTag
        - fuelType
        - recommendations
        - insightId