openapi: 3.0.3
info:
  title: Recommendations API
  version: 1.0.0
  description: API specification for the Recommendations feature of the DETO platform.
servers:
  - url: https://cms.bidgely.com
    description: Production CMS
security:
  - bearerAuth: []
paths:
  /recommendation/v1/model/{pilotId}:
    get:
      summary: GET /recommendation/v1/model/:pilotId
      operationId: reco-external-apis_getRecoModel
      tags:
        - Recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized — invalid or missing Bearer token
        '404':
          description: Resource not found
      parameters:
        - name: pilotId
          in: path
          required: true
          schema:
            type: string
      x-policies:
        - api::recommendation.reco-model-policy
  /recommendation/v1/metadata/{pilotId}:
    get:
      summary: GET /recommendation/v1/metadata/:pilotId
      operationId: reco-external-apis_getRecoMetadata
      tags:
        - Recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized — invalid or missing Bearer token
        '404':
          description: Resource not found
      parameters:
        - name: pilotId
          in: path
          required: true
          schema:
            type: string
      x-policies:
        - api::recommendation.reco-metadata-policy
  /recommendation/v2/metadata/{pilotId}:
    get:
      summary: GET /recommendation/v2/metadata/:pilotId
      operationId: reco-external-apis_getRecoMetadataV2
      tags:
        - Recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized — invalid or missing Bearer token
        '404':
          description: Resource not found
      parameters:
        - name: pilotId
          in: path
          required: true
          schema:
            type: string
      x-policies:
        - api::recommendation.reco-metadata-policy
  /recommendation/v1/insight-definition/{pilotId}:
    get:
      summary: GET /recommendation/v1/insight-definition/:pilotId
      operationId: reco-external-apis_getInsightDefinition
      tags:
        - Recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized — invalid or missing Bearer token
        '404':
          description: Resource not found
      parameters:
        - name: pilotId
          in: path
          required: true
          schema:
            type: string
      x-policies:
        - api::recommendation.reco-model-policy
  /recommendation/v1/last-updated-ts/{pilotId}:
    get:
      summary: GET /recommendation/v1/last-updated-ts/:pilotId
      operationId: reco-external-apis_getLastUpdatedTS
      tags:
        - Recommendations
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized — invalid or missing Bearer token
        '404':
          description: Resource not found
      parameters:
        - name: pilotId
          in: path
          required: true
          schema:
            type: string
      x-policies:
        - api::recommendation.reco-model-policy
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Recommendation:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        ctaButtonText:
          type: string
        ctaButtonLink:
          type: string
        icon:
          type: object
          properties:
            url:
              type: string
              format: uri
            alt:
              type: string
        shortenedImage:
          type: object
          properties:
            url:
              type: string
              format: uri
            alt:
              type: string
        fullImage:
          type: object
          properties:
            url:
              type: string
              format: uri
            alt:
              type: string
        detail:
          type: string
        elongatedImage:
          type: object
          properties:
            url:
              type: string
              format: uri
            alt:
              type: string
        utility:
          type: object
          description: Relation (oneToOne) to utility.utility
        recommendationId:
          type: string
        fuelType:
          type: string
          default: '[]'
        featuredContent:
          type: boolean
          default: 'false'
        program:
          type: boolean
          default: 'false'
        channelPaper:
          type: boolean
          default: 'true'
        channelEmail:
          type: boolean
          default: 'true'
        disabled:
          type: boolean
          default: 'false'
        defaultReco:
          type: boolean
          default: 'false'
        channelWeb:
          type: boolean
          default: 'true'
        videoLink:
          type: string
        score:
          type: object
        applianceProfileExclusion:
          type: object
        homeProfileExclusion:
          type: object
        ratePlanExclusion:
          type: object
        ppExclusion:
          type: object
        monthExclusion:
          type: object
        insightAssociation:
          type: object
        category:
          type: string
        verificationStatus:
          type: string
          enum:
            - TODO
            - READY_FOR_QA
            - QA_IN_PROGRESS
            - QA_FAILED
            - READY_TO_PUBLISH
          default: TODO
        editStatus:
          type: string
          enum:
            - DRAFT
            - MODIFIED
            - PUBLISHED
          default: DRAFT
        actionSavingsPotential:
          type: number
        frequency:
          type: string
          enum:
            - one_time
            - repeat
        herImage:
          type: object
          properties:
            url:
              type: string
              format: uri
            alt:
              type: string
        userType:
          type: string
        actionType:
          type: string
        objective:
          type: string
      required:
        - title
        - description
        - recommendationId
        - fuelType
        - featuredContent
        - program
        - channelPaper
        - channelEmail
        - channelWeb
        - category
