openapi: 3.0.3
info:
  title: Survey Builder API
  version: 1.0.0
  description: API specification for the Survey Builder feature of the DETO platform.
servers:
  - url: https://cms.bidgely.com
    description: Production CMS
security:
  - bearerAuth: []
paths:
  /survey-category/ingest:
    post:
      summary: Ingest survey categories
      description: Ingests an array of survey categories into the system.
      operationId: survey-category_ingestCategories
      tags:
        - Survey Builder
      requestBody:
        description: Array of survey categories to ingest
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SurveyCategory'
      responses:
        '200':
          description: Categories ingested successfully
        '401':
          description: Unauthorized — invalid or missing Bearer token
  /survey/v1/template/{pilotId}/{templateId}:
    get:
      summary: Retrieve a survey template for a pilot
      description: Retrieves a survey template for a specific pilot and template ID, optionally filtered by status, locale, and region.
      operationId: survey-template-external-apis_getTemplate
      tags:
        - Survey Builder
      parameters:
        - name: pilotId
          in: path
          required: true
          schema:
            type: string
        - name: templateId
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: locale
          in: query
          required: false
          schema:
            type: string
        - name: region
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ExternalTemplate'
                  updatedAt:
                    type: integer
                    nullable: true
                  region:
                    type: string
                    nullable: true
                required:
                  - data
                  - updatedAt
                  - region
        '400':
          description: Bad request
        '401':
          description: Unauthorized — invalid or missing Bearer token
        '404':
          description: Resource not found
      x-policies:
        - api::survey-template.survey-template-fetch-policy
  /survey/v1/last-updated-ts/{pilotId}/{templateId}:
    get:
      summary: Retrieve last updated timestamp for a survey template
      description: Retrieves the last updated timestamp for a survey template identified by pilot ID and template ID.
      operationId: survey-template-external-apis_getLastUpdatedTS
      tags:
        - Survey Builder
      parameters:
        - name: pilotId
          in: path
          required: true
          schema:
            type: string
        - name: templateId
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: integer
                    nullable: true
                required:
                  - data
        '401':
          description: Unauthorized — invalid or missing Bearer token
        '404':
          description: Resource not found
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    SurveyCategory:
      type: object
      properties:
        categoryId:
          type: string
        label:
          type: string
        order:
          type: integer
          default: 1
      required:
        - categoryId
        - label
        - order
    ExternalQuestionNode:
      type: object
      properties:
        documentId:
          type: string
        id:
          type: string
        order:
          type: integer
        type:
          type: string
        group:
          type: string
        category:
          type: object
          properties:
            id:
              type: string
            label:
              type: string
              nullable: true
          required:
            - id
        state:
          nullable: true
          description: Reserved for future use
        text:
          type: string
        info:
          type: string
          nullable: true
        parent:
          type: object
          properties:
            id:
              type: string
            value:
              type: array
              items:
                type: string
          required:
            - id
            - value
          nullable: true
        answerType:
          type: string
        stateMapper:
          type: string
          nullable: true
        profileCode:
          type: string
          nullable: true
        fuelTypes:
          type: array
          items:
            type: string
          nullable: true
        choices:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
              order:
                type: integer
              text:
                type: string
              read:
                type: object
                properties:
                  selected:
                    type: string
                    nullable: true
                  unselected:
                    nullable: true
                    description: Reserved for future use
                required:
                  - selected
                  - unselected
              write:
                type: object
                properties:
                  selected:
                    type: string
                    nullable: true
                  unselected:
                    type: string
                    nullable: true
                required:
                  - selected
                  - unselected
            required:
              - value
              - order
              - text
              - read
              - write
          nullable: true
        children:
          type: array
          items:
            $ref: '#/components/schemas/ExternalQuestionNode'
          nullable: true
      required:
        - documentId
        - id
        - order
        - type
        - group
        - category
        - state
        - text
        - info
        - parent
        - answerType
        - stateMapper
        - profileCode
        - fuelTypes
        - choices
        - children
    ExternalTemplate:
      type: object
      properties:
        surveyId:
          type: string
        questions:
          type: array
          items:
            $ref: '#/components/schemas/ExternalQuestionNode'
      required:
        - surveyId
        - questions