openapi: 3.0.3
info:
  title: Survey Builder API
  version: 1.0.0
  description: API specification for the Survey Builder feature of the DETO platform.
servers:
  - url: https://cms.bidgely.com
    description: Production CMS
security:
  - bearerAuth: []
paths:
  /survey-category/ingest:
    post:
      summary: POST /survey-category/ingest
      description: Ingests survey categories for partner-facing survey builder workflows.
      operationId: survey-category_ingestCategories
      tags:
        - Survey Builder
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized — invalid or missing Bearer token
  /survey/v1/template/{pilotId}/{templateId}:
    get:
      summary: Get external survey template
      description: Returns a flattened external survey template for the specified pilot and template, optionally filtered by content status and locale.
      operationId: survey-template-external-apis_getTemplate
      tags:
        - Survey Builder
      parameters:
        - name: pilotId
          in: path
          required: true
          description: Pilot identifier used to resolve the utility.
          schema:
            type: string
        - name: templateId
          in: path
          required: true
          description: Survey template type identifier.
          schema:
            type: string
            enum:
              - defaultSurvey
              - BillAnalyzer
        - name: status
          in: query
          required: false
          description: External content status used to choose published content or draft-ready content fallback behavior.
          schema:
            type: string
        - name: locale
          in: query
          required: false
          description: Locale used to localize template question titles, question text, info, and choices.
          schema:
            type: string
      responses:
        '200':
          description: External survey template returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ExternalSurveyTemplate'
                  updatedAt:
                    type: integer
                    format: int64
                    nullable: true
                required:
                  - data
                  - updatedAt
        '400':
          description: Bad request — utility not found, locale unsupported, or template not found
        '401':
          description: Unauthorized — invalid or missing Bearer token
        '404':
          description: Resource not found
      x-policies:
        - api::survey-template.survey-template-fetch-policy
  /survey/v1/last-updated-ts/{pilotId}/{templateId}:
    get:
      summary: Get survey template last updated timestamp
      description: Returns the cached last-updated timestamp for the specified pilot, template, and optional external content status.
      operationId: survey-template-external-apis_getLastUpdatedTS
      tags:
        - Survey Builder
      parameters:
        - name: pilotId
          in: path
          required: true
          description: Pilot identifier used to resolve the cache entry.
          schema:
            type: string
        - name: templateId
          in: path
          required: true
          description: Survey template type identifier.
          schema:
            type: string
            enum:
              - defaultSurvey
              - BillAnalyzer
        - name: status
          in: query
          required: false
          description: External content status used to resolve the cached timestamp.
          schema:
            type: string
      responses:
        '200':
          description: Last updated timestamp returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: integer
                    format: int64
                    nullable: true
                required:
                  - data
        '400':
          description: Bad request
        '401':
          description: Unauthorized — invalid or missing Bearer token
        '404':
          description: Resource not found
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    SurveyCategory:
      type: object
      properties:
        categoryId:
          type: string
        label:
          type: string
        order:
          type: integer
          default: '1'
      required:
        - categoryId
        - label
        - order
    SurveyQuestion:
      type: object
      properties:
        title:
          type: string
          maxLength: 100
        type:
          type: string
          enum:
            - SINGLE
            - MULTIPLE
            - MULTIPLE_WITH_SUB_CHOICES
            - TEXT
            - NUMBER
            - IMAGE_UPLOAD
            - TEXTAREA
            - BOOLEAN
            - RANGE
            - SLIDER
            - TWO_DIMENSIONS
            - THREE_DIMENSIONS
          default: SINGLE
        img:
          type: object
          properties:
            url:
              type: string
              format: uri
            alt:
              type: string
        group:
          type: string
          enum:
            - ESSENTIAL
            - DETAILED
          default: DETAILED
        fuelTypes:
          type: string
          default: '[]'
        maxLevel:
          type: integer
          default: '1'
        questionTemplate:
          type: string
          enum:
            - DEFAULT
            - DROP_DOWN
            - SUB_CHOICE_DROP_DOWN
          default: DEFAULT
        profileCode:
          type: string
          enum:
            - AP
            - HP
            - METADATA
          default: METADATA
        category:
          type: string
        info:
          type: string
        stateMapper:
          type: string
        impactShc:
          type: boolean
          default: 'false'
        impactItemization:
          type: boolean
          default: 'false'
        impactReco:
          type: boolean
          default: 'false'
        utility:
          type: object
          description: Relation (oneToOne) to utility.utility
        choices:
          type: object
          description: 'Component: survey.survey-choice'
        editStatus:
          type: string
          enum:
            - DRAFT
            - MODIFIED
            - PUBLISHED
          default: DRAFT
        verificationStatus:
          type: string
          enum:
            - TODO
            - READY_FOR_QA
            - READY_TO_PUBLISH
          default: TODO
      required:
        - title
        - type
        - group
        - fuelTypes
        - maxLevel
        - questionTemplate
        - profileCode
        - editStatus
        - verificationStatus
    SurveyTemplate:
      type: object
      properties:
        templateType:
          type: string
          enum:
            - defaultSurvey
            - BillAnalyzer
          default: defaultSurvey
        label:
          type: string
        templateQuestions:
          type: object
          description: 'Component: survey.survey-template-question'
        utility:
          type: object
          description: Relation (manyToOne) to utility.utility
        verificationStatus:
          type: string
          enum:
            - TODO
            - READY_FOR_QA
            - QA_IN_PROGRESS
            - QA_FAILED
            - READY_TO_PUBLISH
          default: TODO
        editStatus:
          type: string
          enum:
            - DRAFT
            - MODIFIED
            - PUBLISHED
          default: DRAFT
      required:
        - templateType
        - label
        - templateQuestions
    ExternalSurveyTemplate:
      type: object
      properties:
        surveyId:
          type: string
          enum:
            - defaultSurvey
            - BillAnalyzer
        questions:
          type: array
          items:
            $ref: '#/components/schemas/ExternalSurveyQuestion'
      required:
        - surveyId
        - questions
    ExternalSurveyQuestion:
      type: object
      properties:
        documentId:
          type: string
        id:
          type: string
        order:
          type: integer
        type:
          type: string
          enum:
            - SINGLE
            - MULTIPLE
            - MULTIPLE_WITH_SUB_CHOICES
            - TEXT
            - NUMBER
            - IMAGE_UPLOAD
            - TEXTAREA
            - BOOLEAN
            - RANGE
            - SLIDER
            - TWO_DIMENSIONS
            - THREE_DIMENSIONS
        group:
          type: string
          enum:
            - ESSENTIAL
            - DETAILED
        category:
          allOf:
            - $ref: '#/components/schemas/ExternalSurveyCategoryRef'
          nullable: true
        state:
          nullable: true
        text:
          type: string
          nullable: true
        info:
          type: string
          nullable: true
        parent:
          allOf:
            - $ref: '#/components/schemas/ExternalSurveyParent'
          nullable: true
        answerType:
          type: string
          enum:
            - BOOLEAN
            - NON_BOOLEAN
        stateMapper:
          type: string
          nullable: true
        profileCode:
          type: string
          enum:
            - AP
            - HP
            - METADATA
          nullable: true
        fuelTypes:
          type: array
          nullable: true
          items:
            type: string
            enum:
              - GLOBAL
              - ELECTRIC
              - WATER
              - GAS
        choices:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/ExternalSurveyChoice'
      required:
        - documentId
        - id
        - order
        - type
        - group
        - category
        - state
        - text
        - info
        - parent
        - answerType
        - stateMapper
        - profileCode
        - fuelTypes
        - choices
    ExternalSurveyCategoryRef:
      type: object
      properties:
        id:
          type: string
        label:
          type: string
          nullable: true
      required:
        - id
        - label
    ExternalSurveyParent:
      type: object
      properties:
        id:
          type: string
        value:
          type: array
          items:
            type: string
      required:
        - id
        - value
    ExternalSurveyChoice:
      type: object
      properties:
        value:
          type: string
        order:
          type: integer
        text:
          type: string
          nullable: true
        read:
          $ref: '#/components/schemas/ExternalSurveyChoiceReadWriteSelected'
        write:
          $ref: '#/components/schemas/ExternalSurveyChoiceWrite'
      required:
        - value
        - order
        - text
        - read
        - write
    ExternalSurveyChoiceReadWriteSelected:
      type: object
      properties:
        selected:
          type: string
          nullable: true
        unselected:
          nullable: true
      required:
        - selected
        - unselected
    ExternalSurveyChoiceWrite:
      type: object
      properties:
        selected:
          type: string
          nullable: true
        unselected:
          type: string
          nullable: true
      required:
        - selected
        - unselected