openapi: 3.0.3
info:
  title: Survey Builder API
  version: 1.0.0
  description: API specification for the Survey Builder feature of the DETO platform.
servers:
  - url: https://cms.bidgely.com
    description: Production CMS
security:
  - bearerAuth: []
paths:
  /survey-category/ingest:
    post:
      summary: Ingest survey categories
      description: Accepts an array of survey categories to be ingested into the system.
      operationId: survey-category_ingestCategories
      tags:
        - Survey Builder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SurveyCategory'
      responses:
        '200':
          description: Successful ingestion
        '401':
          description: Unauthorized — invalid or missing Bearer token
      security:
        - bearerAuth: []
  /survey/v1/template/{pilotId}/{templateId}:
    get:
      summary: Retrieve survey template
      description: Retrieves a survey template and its questions for a given pilot and template ID, optionally filtered by status and locale.
      operationId: survey-template-external-apis_getTemplate
      tags:
        - Survey Builder
      parameters:
        - name: pilotId
          in: path
          required: true
          schema:
            type: string
        - name: templateId
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: locale
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      surveyId:
                        type: string
                      questions:
                        type: array
                        items:
                          $ref: '#/components/schemas/ExternalQuestionNode'
                    required:
                      - surveyId
                      - questions
                  updatedAt:
                    type: integer
                    nullable: true
                required:
                  - data
                  - updatedAt
        '400':
          description: Bad request
        '401':
          description: Unauthorized — invalid or missing Bearer token
        '404':
          description: Resource not found
      security:
        - bearerAuth: []
      x-policies:
        - api::survey-template.survey-template-fetch-policy
  /survey/v1/last-updated-ts/{pilotId}/{templateId}:
    get:
      summary: Retrieve last updated timestamp
      description: Retrieves the last updated timestamp for a survey template based on pilot and template ID, optionally filtered by status.
      operationId: survey-template-external-apis_getLastUpdatedTS
      tags:
        - Survey Builder
      parameters:
        - name: pilotId
          in: path
          required: true
          schema:
            type: string
        - name: templateId
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: integer
                    nullable: true
                required:
                  - data
        '401':
          description: Unauthorized — invalid or missing Bearer token
        '404':
          description: Resource not found
      security:
        - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    SurveyCategory:
      type: object
      properties:
        categoryId:
          type: string
        label:
          type: string
        order:
          type: integer
          default: 1
      required:
        - categoryId
        - label
        - order
    SurveyQuestion:
      type: object
      properties:
        title:
          type: string
          maxLength: 100
        type:
          type: string
          enum:
            - SINGLE
            - MULTIPLE
            - MULTIPLE_WITH_SUB_CHOICES
            - TEXT
            - NUMBER
            - IMAGE_UPLOAD
            - TEXTAREA
            - BOOLEAN
            - RANGE
            - SLIDER
            - TWO_DIMENSIONS
            - THREE_DIMENSIONS
          default: SINGLE
        img:
          type: object
          properties:
            url:
              type: string
              format: uri
            alt:
              type: string
        group:
          type: string
          enum:
            - ESSENTIAL
            - DETAILED
          default: DETAILED
        fuelTypes:
          type: string
          default: '[]'
        maxLevel:
          type: integer
          default: 1
        questionTemplate:
          type: string
          enum:
            - DEFAULT
            - DROP_DOWN
            - SUB_CHOICE_DROP_DOWN
          default: DEFAULT
        profileCode:
          type: string
          enum:
            - AP
            - HP
            - METADATA
          default: METADATA
        category:
          type: string
        info:
          type: string
        stateMapper:
          type: string
        impactShc:
          type: boolean
          default: false
        impactItemization:
          type: boolean
          default: false
        impactReco:
          type: boolean
          default: false
        utility:
          type: object
          description: Relation (oneToOne) to utility.utility
        choices:
          type: object
          description: 'Component: survey.survey-choice'
        editStatus:
          type: string
          enum:
            - DRAFT
            - MODIFIED
            - PUBLISHED
          default: DRAFT
        verificationStatus:
          type: string
          enum:
            - TODO
            - READY_FOR_QA
            - READY_TO_PUBLISH
          default: TODO
      required:
        - title
        - type
        - group
        - fuelTypes
        - maxLevel
        - questionTemplate
        - profileCode
        - editStatus
        - verificationStatus
    SurveyTemplate:
      type: object
      properties:
        templateType:
          type: string
          enum:
            - defaultSurvey
            - BillAnalyzer
          default: defaultSurvey
        label:
          type: string
        templateQuestions:
          type: object
          description: 'Component: survey.survey-template-question'
        utility:
          type: object
          description: Relation (manyToOne) to utility.utility
        verificationStatus:
          type: string
          enum:
            - TODO
            - READY_FOR_QA
            - QA_IN_PROGRESS
            - QA_FAILED
            - READY_TO_PUBLISH
          default: TODO
        editStatus:
          type: string
          enum:
            - DRAFT
            - MODIFIED
            - PUBLISHED
          default: DRAFT
      required:
        - templateType
        - label
        - templateQuestions
    ExternalQuestionNode:
      type: object
      properties:
        documentId:
          type: string
        id:
          type: string
        order:
          type: integer
        type:
          type: string
        group:
          type: string
        category:
          $ref: '#/components/schemas/CategoryRef'
        state:
          type: string
          nullable: true
        text:
          type: string
        info:
          type: string
          nullable: true
        parent:
          $ref: '#/components/schemas/ParentRef'
        answerType:
          type: string
        stateMapper:
          type: string
          nullable: true
        profileCode:
          type: string
          nullable: true
        fuelTypes:
          type: array
          items:
            type: string
          nullable: true
        choices:
          type: array
          items:
            $ref: '#/components/schemas/ChoiceNode'
          nullable: true
        children:
          type: array
          items:
            $ref: '#/components/schemas/ExternalQuestionNode'
      required:
        - documentId
        - id
        - order
        - type
        - group
        - category
        - state
        - text
        - info
        - parent
        - answerType
        - stateMapper
        - profileCode
        - fuelTypes
        - choices
    CategoryRef:
      type: object
      properties:
        id:
          type: string
        label:
          type: string
          nullable: true
      required:
        - id
        - label
    ParentRef:
      type: object
      properties:
        id:
          type: string
        value:
          type: array
          items:
            type: string
      required:
        - id
        - value
    ChoiceNode:
      type: object
      properties:
        value:
          type: string
        order:
          type: integer
        text:
          type: string
        read:
          $ref: '#/components/schemas/ReadWrite'
        write:
          $ref: '#/components/schemas/ReadWrite'
      required:
        - value
        - order
        - text
        - read
        - write
    ReadWrite:
      type: object
      properties:
        selected:
          type: string
          nullable: true
        unselected:
          type: string
          nullable: true
      required:
        - selected
        - unselected